.jumbotron, .jumbotron-footer {
  background-color: #FFAE52;
  border-radius: 0; }

footer {
  margin-top: 20px; }

.card-collection {
  flex: 1 1 250px;
  padding: 5px;
  margin-top: 10px;
  justify-content: space-between; }

.btn-see-more {
  width: 100%;
  background-color: #52A3FF;
  /* background: red; */
  cursor: pointer; }

.btn-see-more:hover {
  /* opacity: 0.7; */
  background: #52A3FF;
  color: black;
  font-weight: bold; }

.card-img {
  height: 200px;
  object-fit: cover; }

/* navbar */
.nav-link {
  font-size: 0.9rem; }

/* banner */
.banner {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.6);
  background-image: url("../images/banner.jpg");
  background-blend-mode: multiply;
  color: #f1f1f1;
  border-radius: 0; }

.title {
  letter-spacing: 1px; }

/* front-colors */
.fc-primary {
  color: #FFAE52; }

.bc-primary {
  background: #FFAE52; }

/* bacground colors */
.fc-secondary {
  color: #52A3FF; }

.bc-secondary {
  background: #52A3FF; }

/* carousel */
.carousel-title {
  font-size: 3rem; }

.carousel-text {
  color: #FFAE52;
  font-weight: bold; }
