$orange: #FFAE52;
$blue: #52A3FF;
$white: #f1f1f0;
@mixin mt( $m) { margin-top: $m ;}
@mixin no-b-radius() { border-radius: 0; }

.jumbotron , .jumbotron-footer {
  background-color: $orange;
  @include no-b-radius();
}
footer {
  @include mt( 20px);
}
.card-collection {
  flex: 1 1 250px;
  padding: 5px;
  @include mt( 10px);
  justify-content: space-between;
}
.card-collection:hover {

}
.btn-see-more {
  width: 100%;
  background-color: $blue;
  /* background: red; */
  cursor: pointer;
}
.btn-see-more:hover {
  /* opacity: 0.7; */
  background:  $blue;
  color: black;
  font-weight: bold;
}

.card-title:hover {

}

.card-img {
  height: 200px;
  object-fit: cover;
}
/* navbar */
.navbar {
}
.nav-link {
  font-size: 0.9rem;
}
/* banner */
.banner {
  @include mt( 20px);
  background: rgba(0,0,0,0.6);
  background-image: url("../images/banner.jpg");
  background-blend-mode: multiply;
  color: $white;
  @include no-b-radius();
}
.title {
  letter-spacing: 1px;
}

/* front-colors */
.fc-primary { color: $orange ;}
.bc-primary { background: $orange;}
/* bacground colors */
.fc-secondary { color: $blue;}
.bc-secondary { background: $blue;}
/* carousel */
.carousel-title { font-size: 3rem;}
.carousel-text {
  color: $orange;
  font-weight: bold;
}
